#footer{
  justify-self:-end;
  font-size: 22px;
  margin: 20px 0px 30px 0px;
}

#signature{
  color:var(--job-title-color);
  text-shadow: var(--border-color) 2px 2px;
  font-size: 25px;
  font-weight: 800;
}
