@import "../../shared/variables.scss";

.job-card {
  background-color:  $cards-bg-color;
  border: 2px solid $border-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  margin: 10px;
  width: 800px;

  &__header{
    background-color: $border-color;
    border-radius: 5px 5px 0px 0px;
    color: $job-title-color;
    display: flex;
  }

  &__main-body{
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: left;
    margin: 0 0 $card-element-gap $card-element-gap
  }

  &__company-name{
    font-size: 20px;
    font-weight: bold;
  }

  &__header{
    align-items: center;
    justify-content: space-between;
    padding: $card-element-gap;
  }

  &__separator{
    font-size: 20px;
    white-space: pre;
  }

  &__title{
    color: $border-color;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
  }

  &__details{
    display: flex;
    justify-content: space-between;
  }

  &__location{
    font-size: 20px;
  }

  &__main-body{
    display: flex;
    justify-content: center;
  }
}


