@import "../../shared/variables.scss";

:root{
  background-color: $background-color;
  height: 100%;
}

body{
  height: 100%;
}

.main-div{
  background-color: $background-color;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: $font-color;
}

#root{
  height: 100%;
}
