$background-color: #E8E8E8;
$cards-bg-color: white;
$font-color: #564256;
$border-color: #564256;
$job-title-color: #fc814a;
$card-element-gap: 10px;

//media queries breakpoints
$smartphone-breakpoint: 768px;
