#card {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-evenly;
  margin: 10px;
  padding: 5px;
  width: 800px;
}

#company-div{
  align-items: center;
  display: flex;
  justify-content: left;
}

#company-logo{
  width: 100px;
  height: auto;
}

#description{
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#details{
  display: flex;
  justify-content: left;
}

#header{
  justify-content: space-between;
  display: flex;
}

#title{
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}
