#card {
  background-color:  var(--cards-bg-color);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  margin: 10px;
  padding: 10px 20px;
  width: 800px;
}

#card-header{
  background-color: var(--border-color);
  color: var(--job-title-color)
}

#company-div{
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: left;
}

#company-logo{
  width: 100px;
  height: auto;
  max-height: 100px;
}

#company-name{
  font-size: 20px;
  margin-left: 20px;
}

#description{
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#details{
  display: flex;
  justify-content: left;
}

#card-header{
  justify-content: space-between;
  display: flex;
}

#separator{
  white-space: pre;
}

#job-title{
  color: var(--job-title-color);
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

#type{
  font-weight: bold;
}
