input{
  cursor: pointer;
}

.input-text {
  border: 2px solid black;
  border-radius: 30px;
  font-size: 20px;
  height: 60px;
  outline: none;
  padding: 0px 20px;
  width: 40%;
}

#form-container{
  display: flex;
  justify-content: space-around;
  margin: 30px;
  width: 800px;
}

