.input-text {
  border: 2px solid black;
  border-radius: 10px;
  width: 30%;
}

#fields-container{
  display: flex;
  justify-content: space-around;
}

#form-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px
}

